Active-Alchemy==1.0.0
arrow==0.12.1
backports.functools-lru-cache==1.5
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
idna==2.6
inflection==0.3.1
Paginator==0.5.1
pg8000==1.10.2
PyMySQL==0.6.6
python-dateutil==2.7.2
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.6
SQLAlchemy-Utils==0.33.2
urllib3==1.26.5
